<h1>My Vanity</h1>
<% user.makeups.forEach(function(fav) {%>
    <%= fav.name %>
    <div class="prof-box">
            <a href="/makeup/products/<%=fav.name%>/"><img src="<%=fav.image_link%>" class="profImg"></a>
    </div>
    <form method="post" action="/profile/<%=fav.id%>/?_method=DELETE">
        <input type="hidden" name="id" value="<%=fav.id%>">
        <input type="submit" value="Delete">
    </form>
<%})%>