<div class="deet-container">
    <div class="deetImg-container">
        <img src="<%= makeupItem.image_link%>" class="deetImg">
    </div>
    <div class="deetInfo">
        <div class="pageTitle">
            <h1><%= makeupItem.name %></h1>
            <hr/>
        </div>
        <p>
            <span class="bold">Brand:</span> <%= makeupItem.brand %>
        </p>
        <p>
            <span class="bold">Price:</span> $<%= makeupItem.price %>
        </p>
        <p>
            <span class="bold">Description:</span> <%= makeupItem.description%>
        </p>
        <div class="deetbtnbox">
            <div class="deetbtn">
                <a href="<%= makeupItem.product_link %>"><button class="submit-button">Buy Here</button></a>
            </div>
            <div class="deetbtn">
                <form method="POST" action="/profile">
                    <input hidden type="text" name="id" value="<%= makeupItem.id %>">
                    <button class="submit-button" type="submit">Add to Vanity</button>
                </form>
            </div>
        </div>
        <p>
            
        </p>
    </div>
</div>
<div class="deet-form">
    <h1>What do you think about this product?</h1>
    <br>
    <form method="POST" action="/makeup/products/<%= makeupItem.name %>">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="content">Comment:</label>
        <input type="text" name="content">
        <input type="hidden" name="makeupId" value="<%= makeupItem.id %>">
        <button type="submit" class="submit-button">Submit</button>
      </form>
</div>
<div class="comment-container">
    <% comments.forEach(function(comment) {%>
        <ul>
            <li>
                <p>
                    <%= comment.content %>
                </p>
                <p><span class="bold">- <%= comment.name %></span></p>
                <hr/>
            </li>
        </ul>
    <%})%>
</div>